# IDE
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# Video and audio files
*.mp4
*.wav
*.mp3
*.avi
*.mov
*.mkv

# OS
.DS_Store
Thumbs.db

# Logs
*.log
